<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msg| %>

      <% if ["danger", "info", "success"].any? { |typee| typee.include? name }  %>

        <div class='alert alert-<%= "#{name}" %>'>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>

      <% else %>

        <div class='alert alert-info'>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_info" if msg.is_a?(String) %>
        </div>

      <% end %>

    <% end %>
  </div>
</div>